<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add or Edit</title>
</head>
<body>
<h1>Add Or Edit</h1>
<form th:action="@{/meal}" th:object="${meal}" method="post">
    <label>Date:</label>
    <input th:field="*{date}" type="date" required="required"/>
    <label>Type:</label>
    <select th:field="*{type}">
        <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
    </select>
    <label>Description:</label>
    <input th:field="*{description}" type="text"/>
    <label>Calories:</label>
    <input th:field="*{calories}" type="number" required="required"/>
    <button type="submit">Save</button>
    <button type="submit">Cancel</button>
</form>
</body>
</html>