<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add or Edit</title>
</head>
<body>
<h1>Add Or Edit</h1>
<form>
    <label>Date:</label>
    <input type="date" required="required"/>
    <label>Type:</label>
    <select>
        <option th:each="type : ${types}" th:text="${type}"></option>
    </select>
    <label>Description:</label>
    <input type="text"/>
    <label>Calories:</label>
    <input type="number" required="required"/>
    <button type="submit">Save</button>
    <button type="submit">Cancel</button>
</form>
</body>
</html>