<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Calorie Counter</title>
</head>
<body>
<h1>Calorie Counter</h1>
<dl>
    <dt>Number of meals:</dt>
    <dd>
        45
    </dd>
    <dt>Total calories:</dt>
    <dd>
        29374
    </dd>
</dl>
<form action="/newMeal" method="get">
    <button>New meal</button>
</form>
<table>
    <tr>
        <td>meal date</td>
        <td>type</td>
        <td>description</td>
        <td>calories</td>
        <td>functions</td>
    </tr>
    <tr>
        <td>234</td>
        <td>dinner</td>
        <td>eggs</td>
        <td>234</td>
        <td>functions</td>
    </tr>
</table>
</body>
</html>

