<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Calorie Counter</title>
</head>
<body>
<h1>Calorie Counter</h1>
<dl>
    <dt>Number of meals:</dt>
    <dd>
        45
    </dd>
    <dt>Total calories:</dt>
    <dd>
        29374
    </dd>
</dl>
<form action="/addOrEdit" method="get">
    <button>New meal</button>
</form>
<table>
    <tr>
        <td>meal date</td>
        <td>type</td>
        <td>description</td>
        <td>calories</td>
        <td>functions</td>
    </tr>
    <tr th:each="meal : ${meals}">
        <td th:text="${meal.date}"/>
        <td th:text="${meal.type}"/>
        <td th:text="${meal.description}"/>
        <td th:text="${meal.calories}"/>
        <td>functions</td>
    </tr>
</table>
</body>
</html>

